node_modules
.DS_Store
.tmp
tmp
dist
coverage
npm-debug.log*
yarn.lock
google-generated-credentials.json
_START_PACKAGE
.env
.vscode/*
!.vscode/extensions.json
!.vscode/settings.default.json
.idea
nodelinter.config.json
**/package-lock.json
packages/**/.turbo
.turbo
*.tsbuildinfo
*Zone.Identifier
*.swp
CHANGELOG-*.md
*.mdx
build-storybook.log
*.junit.xml
junit.xml
test-results.json
n8n-ec2-deployment/n8n-ec2-instance/.serverless/cloudformation-template-update-stack.json
n8n-ec2-deployment/n8n-ec2-instance/.serverless/meta.json
n8n-ec2-deployment/n8n-ec2-instance/.serverless/serverless-state.json
n8n-ec2-deployment/n8n-ec2-networking/.serverless/cloudformation-template-update-stack.json
n8n-ec2-deployment/n8n-ec2-networking/.serverless/meta.json
n8n-ec2-deployment/n8n-ec2-networking/.serverless/serverless-state.json
